*{
    box-sizing: border-box;
}
body{
margin:auto;
background-color: black;
}
.bg{
    width:100%;
    height:100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d1532433-07b1-4e39-a920-0f08b81a489e/67033404-2df8-42e0-a5a0-4c8288b4da2c/IN-en-20231120-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}
.dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.681);
    color: white;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-content{
    text-align: center;
    background-color: black;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.359);
    color: white;
}
.flex-content button{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color:white ;
}
.flex-content input{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.features{
    width: 100%;
    margin: auto;
    height:100%;
    background-color: black;
    color: white;
}
.clearfix{
    clear: both;
    display: table;
}
.features .content ,
.features .content-img{
    width: 50%;
    height: 500px;
    padding: 50px;
    float: left  ;
}
.content-img img{
    width: 75%;
    height: 100%;
}

    
